# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib

#Reference
/Reference/*

# Not neccesary because it's just for my own workspace
/workspace/.metadata
/workspace/RemoteSystemsTempFiles
/workspace/ASPD100/.settings

/workspace/stm32-shower-water-reusable-stm32l412kb/Debug
/workspace/stm32-shower-water-reusable-stm32l412kb/Release